<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite">
    <test name="Test Flow 001">
        <classes>
            <class name="org.reports.ZoomTest">
                <methods>
                    <include name="tc1"/>
                    <include name="tc2"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>